.o_label_sheet {
    .o_label_qr {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        img {
            display: block;
        }
    }
    .o_label_left_column > span,
    .o_label_small_barcode > span,
    .o_label_small_barcode > .o_label_name {
        display: block;
    }
    .o_label_left_column > div,
    .o_label_small_barcode > div:not(.o_label_name) {
        display: inline-block;
        vertical-align: middle;
    }
}
