.o_mail_whatsapp_buttons {
    max-width: 18rem;

    .o_mail_whatsapp_button {
        border-radius: 1.25rem;
        font-weight: 500;
        max-width: 100%;
        white-space: nowrap;
    }
}
